<li><%= image_tag photo.image_url(:thumb)%></li>
<li><%= image_tag photo.image_url(:small)%></li>
<li><%= image_tag photo.image_url(:medium)%></li>
<li><%= image_tag photo.image_url(:large)%></li>
<li><%= image_tag photo.image_url(:huge)%></li>
