<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	  <title>MySnapLog <%= " - #{@user.username}" if @user %></title>
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	  <%= stylesheet_link_tag 'style' %>
	  <%= javascript_include_tag :defaults, :swf_upload %>
		<!--[if lte IE 9]>
			<%= javascript_include_tag 'html5' %>
			<%= stylesheet_link_tag 'iefix' %>
		<![endif]-->
	</head>
	<body class="<%= controller_name %> <%= action_name %>">
		<div id="outer">
			<div id="wrapper">
				<header id="header">
					<h1><%= link_to('MySnapLog', root_path) %></h1>
					<nav>
						<%= render 'layouts/menu' %>
					</nav>
				</header>
				<div id="main">
					<% if flash[:notice] -%>
						<div class="flash_notice"><%= flash[:notice] %></div>
					<% end -%>
					
					<%= yield  %>
				</div>
			</div>
		</div>
	</body>
</html>